In [1]:
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [2]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [3]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: cannot create directory ‘dw-data’: File exists
File ‘./dw-data/201701scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/201606scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/practices.csv.gz’ already there; not retrieving.

File ‘./dw-data/chem.csv.gz’ already there; not retrieving.

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [4]:
import pandas as pd
import numpy as np
import gzip

In [5]:
# load the 2017 data
scripts = pd.read_csv('dw-data/201701scripts_sample.csv.gz')
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [6]:
scripts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973193 entries, 0 to 973192
Data columns (total 7 columns):
practice    973193 non-null object
bnf_code    973193 non-null object
bnf_name    973193 non-null object
items       973193 non-null int64
nic         973193 non-null float64
act_cost    973193 non-null float64
quantity    973193 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 52.0+ MB

In [7]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv('dw-data/practices.csv.gz', names=col_names)
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [8]:
chem = pd.read_csv('dw-data/chem.csv.gz')
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [9]:
summary_stats = [('items', (0,) * 6), ('quantity', (0,) * 6), ('nic', (0,) * 6), ('act_cost', (0,) * 6)]

In [10]:
scripts.describe()
fields = ['items', 'quantity', 'nic', 'act_cost']

In [11]:

summary=scripts.describe().transpose()
summary['total']= (summary['count']*summary['mean']).astype(int)
summary

,count,mean,std,min,25%,50%,75%,max,total
items,973193.0,9.133136,29.204198,1.00,1.00,2.00,6.00,2384.00,8888304
nic,973193.0,73.058915,188.070257,0.00,7.80,22.64,65.00,16320.00,71100424
act_cost,973193.0,67.986613,174.401703,0.04,7.33,21.22,60.67,15108.32,66164096
quantity,973193.0,741.329835,3665.426958,0.00,28.00,100.00,350.00,577720.00,721457006

In [12]:
summary = summary[['total', 'mean', 'std', '25%', '50%', '75%']]
summary

              total        mean          std    25%     50%     75%
items       8888304    9.133136    29.204198   1.00    2.00    6.00
nic        71100424   73.058915   188.070257   7.80   22.64   65.00
act_cost   66164096   67.986613   174.401703   7.33   21.22   60.67
quantity  721457006  741.329835  3665.426958  28.00  100.00  350.00

In [13]:
summary_stats=[(row[0], row[1:])for row in summary.itertuples()]

In [14]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [15]:
scripts.describe()

               items            nic       act_cost       quantity
count  973193.000000  973193.000000  973193.000000  973193.000000
mean        9.133136      73.058915      67.986613     741.329835
std        29.204198     188.070257     174.401703    3665.426958
min         1.000000       0.000000       0.040000       0.000000
25%         1.000000       7.800000       7.330000      28.000000
50%         2.000000      22.640000      21.220000     100.000000
75%         6.000000      65.000000      60.670000     350.000000
max      2384.000000   16320.000000   15108.320000  577720.000000

In [16]:
totals = scripts.groupby('bnf_name')['items'].sum()

In [17]:
totals.max()

218583

In [18]:
totals.sort_values().tail()

bnf_name
Amlodipine_Tab 5mg         128245
Simvastatin_Tab 40mg       132941
Aspirin Disper_Tab 75mg    148591
Paracet_Tab 500mg          151669
Omeprazole_Cap E/C 20mg    218583
Name: items, dtype: int64

In [19]:
totals.idxmax()

'Omeprazole_Cap E/C 20mg'

In [20]:
most_common_item = [(totals.idxmax(), totals[totals.idxmax()])]

In [21]:
most_common_item =[(totals.sort_values().tail(1).index[0])]

In [22]:
grader.score.dw__most_common_item(most_common_item)

'Omeprazole_Cap E/C 20mg' is not of type 'array'

Failed validating 'type' in schema['items']:
    {'items': [{'type': 'string'}, {'type': 'number'}],
     'maxItems': 2,
     'minItems': 2,
     'type': 'array'}

On instance[0]:
    'Omeprazole_Cap E/C 20mg'

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [23]:
unique_practices = (practices.sort_values('post_code').groupby('code').first().reset_index())

unique_practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,MCKENZIE HOUSE,17 KENDAL ROAD,HARTLEPOOL,CLEVELAND,TS25 1QU
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,ACKLAM,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [24]:
unique_practices = (practices[['code', 'post_code']].sort_values(['code', 'post_code']).drop_duplicates(subset='code').reset_index().drop('index', axis=1))

In [25]:
unique_practices.head()

     code post_code
0  A81001  TS18 1HU
1  A81002  TS18 2AW
2  A81003  TS25 1QU
3  A81004   TS1 3BE
4  A81005  TS14 7DJ

In [26]:
#merge, join
joined = scripts.merge(unique_practices, left_on='practice', right_on='code', how='left')

In [27]:
post_items_totals = (joined.groupby(['post_code', 'bnf_name'])['items'].sum().reset_index().sort_values(['post_code', 'items'], ascending= False))
post_items_totals.head()

       post_code                          bnf_name  items
576696  YO16 4LZ           Aspirin Disper_Tab 75mg   1194
576703  YO16 4LZ             Atorvastatin_Tab 20mg   1122
578363  YO16 4LZ           Omeprazole_Cap E/C 20mg   1119
577959  YO16 4LZ  Lansoprazole_Cap 30mg (E/C Gran)   1044
578443  YO16 4LZ                 Paracet_Tab 500mg   1012

In [28]:
max_items = post_items_totals.groupby('post_code').first()

In [29]:
post_code_totals = post_items_totals.groupby('post_code')['items'].sum()
max_items['post_totals'] = post_code_totals
max_items['proportion'] = max_items['items']/max_items['post_totals']
max_items.drop(['items', 'post_totals'], axis=1, inplace=True)
max_items.head()

                                     bnf_name  proportion
post_code
B11 4BW    Salbutamol_Inha 100mcg (200 D) CFF    0.031059
B12 9LP                     Paracet_Tab 500mg    0.024893
B18 7AL    Salbutamol_Inha 100mcg (200 D) CFF    0.027111
B21 9RY               Metformin HCl_Tab 500mg    0.033294
B23 6DJ      Lansoprazole_Cap 30mg (E/C Gran)    0.021384

In [30]:
items_by_region = list(max_items.itertuples())[:100]

In [31]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score:  1.0
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [32]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [33]:
mask = chem['NAME'].str.contains('|'.join(opioids), case=False)
opioid_codes = chem[mask]['CHEM SUB']

In [34]:
scripts_merged = scripts.merge(chem, left_on='bnf_code', right_on='CHEM SUB', how='left')

In [35]:
scripts['opioids']= scripts['bnf_code'].isin(opioid_codes).astype(int)

In [36]:
chem[mask].head()

      CHEM SUB                                 NAME
88   0104020D0  Codeine Phosphate Compound Mixtures
91   0104020N0                     Opium & Morphine
691  0309010C0                    Codeine Phosphate
693  0309010N0            Diamorphine Hydrochloride
695  0309010S0              Methadone Hydrochloride

In [37]:
scripts.groupby('practice')['opioids'].mean()

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
            ...
Y05570    0.090909
Y05583    0.000000
Y05597    0.000000
Y05660    0.023055
Y05670    0.000000
Name: opioids, Length: 856, dtype: float64

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [38]:
opioids_per_practice = scripts.groupby('practice')['opioids'].mean()

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [39]:
relative_opioids_per_practice = opioids_per_practice - scripts['opioids'].mean()

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [40]:
np.sqrt(scripts['opioids'].var()/scripts['practice'].value_counts()).head()

N83028    0.003484
L83100    0.003513
D81043    0.003747
B81008    0.003796
B81026    0.003835
Name: practice, dtype: float64

In [41]:
standard_error_per_practice = np.sqrt(scripts['opioids'].var()/scripts['practice'].value_counts())
opioid_scores = relative_opioids_per_practice/standard_error_per_practice

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [42]:
unique_practices = (practices.sort_values(['code', 'name']).drop_duplicates(subset=['code'], keep='first'))
unique_practices= unique_practices[['code', 'name']]
result = unique_practices.merge(opioid_scores.rename('score'), left_on='code', right_index=True)
result = result.merge(scripts['practice'].value_counts().rename('count'), left_on='code', right_index=True)
result.sort_values(by='score', ascending=False, inplace=True)
result.drop('code', axis=1, inplace=True)
result.head()

                                 name      score  count
7954        NATIONAL ENHANCED SERVICE  11.695818      7
8456         OUTREACH SERVICE NH / RH   7.339043      2
8783  BRISDOC HEALTHCARE SERVICES OOH   6.150582     60
7454           H&R P C SPECIAL SCHEME   5.123032     36
9718                   HMR BARDOC OOH   4.958866    321

In [43]:
anomalies = list(result.itertuples(index=False, name=None))[:100]

In [44]:
grader.score.dw__script_anomalies(anomalies)

==================
Error!
You have been rate limited for exceeding the limit of 1 per 1 second.
Please slow down your submission rate.
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [72]:
scripts16 = pd.read_csv('./dw-data/201606scripts_sample.csv.gz')

In [73]:
scripts16.sort_values('bnf_code', inplace=False)

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
579821,M91659,0101010C0,Alum Hydrox_Cap 475mg,1,20.57,19.16,180
948525,H81069,0101010C0,Alu-Cap_Cap 475mg,2,27.42,25.40,240
778396,F86078,0101010C0,Alum Hydrox_Cap 475mg,1,41.13,38.09,360
593541,M85066,0101010C0,Alu-Cap_Cap 475mg,1,13.71,12.70,120
513341,M81016,0101010C0,Alum Hydrox_Cap 475mg,1,13.71,12.69,120
897186,L83089,0101010C0,Alum Hydrox_Cap 475mg,1,13.71,12.70,120
285155,P81196,0101010C0,Alum Hydrox_Cap 475mg,1,13.71,12.70,120
829797,G83012,0101010C0,Alum Hydrox_Cap 475mg,2,19.20,18.00,168
761344,F85017,0101010C0,Alum Hydrox_Cap 475mg,1,9.60,9.00,84
777603,F84710,0101010C0,Alu-Cap_Cap 475mg,1,13.71,12.70,120
425251,B82005,0101010C0,Alum Hydrox_Cap 475mg,1,27.42,25.40,240
906747,G82114,0101010C0,Alu-Cap_Cap 475mg,5,43.42,40.31,380
507617,M86026,0101010C0,Alu-Cap_Cap 475mg,1,4.11,3.92,36
771121,F86022,0101010C0,Alum Hydrox_Cap 475mg,4,9.60,9.34,84
427452,B82021,0101010C0,Alum Hydrox_Cap 475mg,1,13.71,12.70,120
423486,B82092,0101010C0,Alum Hydrox_Cap 475mg,2,19.20,18.00,168
575655,M89008,0101010C0,Alum Hydrox_Cap 475mg,1,13.71,12.70,120
756818,F84041,0101010C0,Alum Hydrox_Cap 475mg,1,13.71,12.70,120
590460,M85013,0101010C0,Alu-Cap_Cap 475mg,1,9.60,9.00,84
623086,D82067,0101010C0,Alum Hydrox_Cap 475mg,1,6.86,6.46,60
650254,F81165,0101010C0,Alum Hydrox_Cap 475mg,1,13.71,12.70,120
15914,N81016,0101010C0,Alu-Cap_Cap 475mg,1,28.79,26.77,252
953551,H81078,0101010C0,Alum Hydrox_Cap 475mg,1,13.71,12.70,120
438373,C85020,0101010C0,Alu-Cap_Cap 475mg,1,25.59,23.80,224
344949,N82109,0101010C0,Alu-Cap_Cap 475mg,1,28.79,26.77,252
41356,N81082,0101010C0,Alum Hydrox_Cap 475mg,1,9.60,9.00,84
909158,G82029,0101010C0,Alu-Cap_Cap 475mg,1,13.71,12.70,120
570200,M85048,0101010C0,Alu-Cap_Cap 475mg,1,38.39,35.65,336
428714,B82026,0101010C0,Alu-Cap_Cap 475mg,2,27.42,25.40,240
882573,L81004,0101010C0,Alu-Cap_Cap 475mg,8,38.40,36.45,336
...,...,...,...,...,...,...,...
910655,G82060,239656096,Welland_FreeStyle Vie Urost Pch Tapered,1,233.40,216.07,40
705517,C82068,239656096,Welland_FreeStyle Vie Urost Pouch Tapere,1,116.70,108.04,20
789247,Y01839,239656096,Welland_Curvex Uro Urost Pouch+Flng Clr,2,399.68,370.01,80
714702,C82050,239656096,Welland_FreeStyle Vie Urost Pch Flat Spl,1,233.40,216.07,40
233636,P92651,239656096,Welland_Silhouette URO Urost Pouch + S/B,1,93.56,86.61,20
26190,N81025,239656096,Welland_Aura Urost Pouch Midi Beige C/Fi,1,238.84,221.11,40
26189,N81025,239656096,Welland_FreeStyle Vie Curvex Urost Pch B,2,233.12,215.82,40
314769,N81651,239656096,Welland_FreeStyle Vie Urost Pch Tapered,1,175.05,162.05,30
487734,B85646,239656096,Welland_Aura Urost Pouch Maxi Beige C/Fi,1,179.13,165.84,30
273765,P81130,239656096,Welland_Curvex Uro Urost Pouch+Flng Clr,1,149.88,138.75,30
682429,E82094,239656096,Welland_Aura Urost Pouch Maxi Beige C/Fi,1,238.84,221.11,40
756817,F84038,239656096,Welland_Silhouette URO Urost Pouch + S/B,1,140.34,129.92,30
705518,C82068,239656096,Welland_Aura Urost Pouch Midi Clr C/Fit,1,119.42,110.55,20
499393,M84004,239656096,Welland_Aura Urost Pouch Maxi Beige C/Fi,1,179.13,165.83,30
658188,F81112,239656096,Welland_Aura Urost Pouch Maxi Clr C/Fit,1,179.13,165.83,30
313119,N81119,239656096,Welland_FreeStyle Vie Convex Urost PchS/,1,174.84,161.86,30
939558,H82078,239656096,Welland_FreeStyle Vie Urost Pouch Tapere,1,116.70,108.04,20
937921,H82077,239656096,Welland_FreeStyle Vie Urost Pouch Tapere,1,233.40,216.07,40
5952,N81077,239656096,Welland_Aura Urost Pouch Maxi Beige C/Fi,1,119.42,110.55,20
902055,L83644,239656096,Welland_Silhouette URO Urost Pouch + S/B,1,93.56,86.61,20
698340,C82010,239656096,Welland_Aura Urost Pouch Maxi Clr C/Fit,2,298.55,276.38,50
228177,P92615,239656096,Welland_Silhouette URO Urost Pouch + S/B,2,280.68,259.85,60
712344,C83023,239656096,Welland_FreeStyle Vie Convex Urost PchS/,1,116.56,107.91,20
313120,N81119,239656096,Welland_Aura Urost Pouch Maxi Beige C/Fi,1,179.13,165.83,30
700077,C82013,239656096,Welland_Aura Urost Pouch Midi Clr C/Fit,1,179.13,165.83,30
166530,Y04665,239659096,Peak_Uromate Oval Urost Pouch Transpt Lg,1,244.24,226.11,40
624871,D82008,239659096,Peak_Uromate Oval Urost Pouch Transpt Lg,1,122.12,113.07,20
903233,L83004,239659096,Peak_Uromate Oval Urost Pouch Transpt Lg,1,183.18,189.59,30
912315,G82063,239659096,Peak_Uromate Oval Urost Pouch Transpt Lg,2,366.36,339.16,60
880146,J83008,239659096,Peak_Uromate Urost Pouch Transpt Lge S/H,1,123.28,114.13,20

In [74]:
pct_growth = ((scripts.bnf_name.value_counts() - scripts16.bnf_name.value_counts()) / scripts16.bnf_name.value_counts())
pct_growth.dropna(inplace=True)

In [75]:
script_growth_df = pd.concat([pct_growth, scripts16.bnf_name.value_counts()], axis=1, sort=True)

In [76]:
script_growth_df.columns = ['pct_growth', 'count16']
script_growth_df.dropna(inplace=True)

In [77]:
mask = script_growth_df['count16']>=50
script_growth_df = script_growth_df[mask]

In [78]:
script_growth_df.sort_values('pct_growth', ascending=False, inplace=True)

In [79]:
script_growth_df = pd.concat([script_growth_df.head(50), script_growth_df.tail(50)])

In [80]:
script_growth = list(script_growth_df.itertuples(name=None))

In [81]:
script_growth[:5]

[('Butec_Transdermal Patch 5mcg/hr', 3.467741935483871, 62),
 ('Butec_Transdermal Patch 10mcg/hr', 3.0, 69),
 ('Fostair NEXThaler_Inh 200mcg/6mcg (120D)', 1.430232558139535, 86),
 ('Pneumococcal_Vac 0.5ml Vl (23 Valent)', 1.2694300518134716, 193),
 ('Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev', 1.2692307692307692, 52)]

In [82]:
grader.score.dw__script_growth(script_growth)

==================
Your score:  1.0
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [83]:
p = 1/scripts['bnf_code'].nunique()
print(p)

0.0005063291139240507

In [84]:
rates = scripts['bnf_code'].value_counts()/len(scripts)
rates.head()

0906040G0    0.014840
090402000    0.011016
0302000N0    0.010214
130201000    0.008839
0601060D0    0.008799
Name: bnf_code, dtype: float64

In [85]:
mask = rates < .1 * p
rare_codes = rates[mask].index.unique()

In [86]:
scripts['rare'] = scripts['bnf_code'].isin(rare_codes)

In [87]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioids,rare
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,0,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,0,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,0,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,0,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,0,False

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [88]:
#rare script act_cost per practise / total act_cost per practise
rare_cost_prop = (scripts[scripts['rare']].groupby('practice')['act_cost'].sum() / scripts.groupby('practice')['act_cost'].sum()).fillna(0)
rare_cost_prop.head()

practice
A81005    0.012017
A81007    0.008381
A81011    0.005116
A81012    0.013747
A81017    0.007359
Name: act_cost, dtype: float64

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [89]:
relative_rare_cost_prop = (rare_cost_prop - scripts[scripts['rare']]['act_cost'].sum() / scripts['act_cost'].sum())

In [90]:
relative_rare_cost_prop.head()

practice
A81005   -0.003946
A81007   -0.007582
A81011   -0.010847
A81012   -0.002216
A81017   -0.008604
Name: act_cost, dtype: float64

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [91]:
standard_errors =  relative_rare_cost_prop.std()

In [92]:
rare_scores = (relative_rare_cost_prop/standard_errors)

In [93]:
unique_practices = (practices.sort_values('name').groupby('code').first().reset_index())[['code', 'name']].rename(columns={'code':'practice'})
unique_practices.set_index('practice', inplace=True)
unique_practices.head()

                                name
practice
A81001           THE DENSHAM SURGERY
A81002    QUEENS PARK MEDICAL CENTRE
A81003     VICTORIA MEDICAL PRACTICE
A81004       BLUEBELL MEDICAL CENTRE
A81005            SPRINGWOOD SURGERY

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [94]:
#rare_scripts = [("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [95]:
rare_scores = pd.concat([unique_practices, rare_scores], axis = 1).sort_values('act_cost', ascending=False).head(100)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [96]:
rare_scores.head()

                                     name   act_cost
Y03472           CONSULTANT DIABETES TEAM  16.262687
Y05320     DMC COMMUNITY DERMATOLOGY RBWF  15.128648
Y04404  OUTPATIENTS JUBILEE HEALTH CENTRE   7.542139
Y03484   DMC COMMUNITY DERMATOLOGY CLINIC   7.287222
Y04424                     DMC HEALTHCARE   6.838614

In [97]:
rare_scripts = list(rare_scores.itertuples(name=None))

In [98]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2019 The Data Incubator.  All rights reserved.*